AI_GEMINI_API_KEY=AIzaSyC9t_SmFg8eV-xOKlT9O4FRLJcT9O5krMo
AI_GEMINI_MODEL=gemini-1.5-flash
SERVER_PORT=8082
MAIN_BACKEND_URL=http://localhost:8081/api/v1
DB_URL=jdbc:mysql://localhost:3306/bookingsystem1
DB_USERNAME=root
DB_PASSWORD=
